* 
{
    margin: 0%;
    padding: 0%;
}

body
{
    background-color: palevioletred;
}

nav {
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: pink;
    border-bottom: 1px black solid;
    margin-bottom: 20px;
    font-size: 25px;
}

.img {
    margin: 90px;
}

nav h1 {
    margin-right: 6%;
    
}

.sub {
    color: brown;
    margin-top: 5px;
}

.main {
    margin-left: 20px;
}

.main img{
    width: 25rem;
    margin-top: 10px;
    transition: .3s;
    transform: .3s;

}

.main img:hover{
    transform: scale(1.1);
    transition: .3s;
}

.alt {
    margin-top: 10px;
    background-color: pink;
}

.paragraph {
    margin-left: 20px;
}

.info img {
    border-radius: 90%;
    width: 50px;
}

.info {
    display: flex;
    align-items: center;
    margin-left: 50px;
    margin-top: 20px;
}

.info h3 {
    margin-left: 30px;
}

.info span {
    color: red;
}

button {
    padding: 5px;
    margin-left: 70rem;
    border-radius: 15px;
    background-color: pink
}